@media (min-width : 1300px) {
    .videoContainer {
        position: absolute;
        left: 7%;
        bottom: 19.2em;
    }
    .videoContainer iframe {
        width: 85%;
        height: 13em;
    }
}

@media (min-width : 1200px) and (max-width: 1300px) {
    .videoContainer {
        position: absolute;
        left: 2%;
        bottom: -1.7em;
    }
    .videoContainer iframe {
        width: 82.5%;
        height: 13em;
    }
}

@media (min-width : 992px) and (max-width : 1200px) {
    .videoContainer {
        position: absolute;
        left: 2%;
        bottom: -1.9em;
    }
    .videoContainer iframe {
        width: 79%;
        height: 13em;
    }
}

@media (min-width : 768px) and (max-width : 992px) {
    .videoContainer {
        position: absolute;
        left: 2%;
        bottom: -1.7em;
    }
    .videoContainer iframe {
        width: 63%;
        height: 13em;
    }
}

@media (min-width : 576px) and (max-width : 768px) {
    .videoContainer {
        position: absolute;
        left: 2%;
        bottom: 2.8em;
    }
    .videoContainer iframe {
        width: 46%;
        height: 10em;
    }
}
@media (max-width : 576px) {
    .videoContainer {
        position: absolute;
        left: 2%;
        bottom: -0.2em;
    }
    .videoContainer iframe {
        width: 34%;
        height: 10em;
    }
}